$origRed: #ff0000;
$origRedLight: #fcc; // #ff5a36;
$origRedDark: #930000; // #c20000;

$origBlue: #29abe2; // #006fcd;
$origBlueLight: #d4eef9; // #5c9dff;
$origBlueDark: #1e7ba2; // #00459b;

$origGreen: #99cc66;
$origGreenLight: #cad8bb; // #689b38;
$origGreenDark: #66903c; // #689b38;

$origPurple: #5f1c68;
$origPurpleLight: #9a42a6;
$origPurpleDark: #6d2a76;

$origGrey: #666;
$origGreyLight: #888;
$origGreyDark: #444;

$textColor: #cdcdcd;
$linkColor: #efefef;

$backgroundDark: #121212;
$backgroundInput: #222;
$backgroundElements: #333;
$backgroundLight: #555;

$borderColorInput: #888;

$userOnline: #319d3f;
$userOffline: #f00;

$greenText: $userOnline;
$redText: $userOffline;
