.gamereactie.hidden {
    height: 60px;
    overflow: hidden;

    &:before{
        width: 100%;
        content: attr(data-hidden);
        position: absolute;
        left: 133px;
        top: 13px;
        color: #666;
        font-style: italic;
        cursor: pointer;
    }

    .avatar {
        opacity: 0.1;

        &:hover {
            opacity: 0.3;
        }

        img {
            width: 50px;
        }
    }

    .gamereactie-content {
        display: none;
    }
}
